
	@font-face {
	font-family: alata-regular;
	src:url(../font/Alata-Regular.ttf);
	font-weight: 400;
	}

	@font-face {
		font-family: poppins-regular;
		src:url(../font/Poppins-Regular.ttf);
		font-weight: 400;
	}

	@font-face {
		font-family: poppins-semibold;
		src:url(../font/Poppins-SemiBold.ttf);
	}

	@font-face {
		font-family: poppins-medium;
		src:url(../font/Poppins-Medium.ttf);
	}

	@font-face {
		font-family: poppins-mediumitalic;
		src:url(../font/Poppins-MediumItalic.ttf);
	}

	@font-face {
		font-family: poppins-light;
		src:url(../font/Poppins-Light.ttf);
		font-weight: 300;

	}

	body {
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden;
		/*font-size: 17px;*/
		font-family: "alata-regular"
	}

	img {
		max-width: 100%;
	}


	.header-area {
		width: 100%;
		background-image: url(../images/header-bg-image.png);
		background-repeat: no-repeat;
		padding-bottom: 6%;
		margin: 0 auto;
		background-size: cover;
	}
	/*.container {
		max-width: 1510px !important;
	}*/

	/*.banner {
		width: 100%;
		background-image: url(../images/header-bg-image.png);
		background-repeat: no-repeat;
		padding-bottom: 6%;
		margin: 0 auto;
		background-size: cover;
	}
	*/
	.contaner {
		width: 100%;
		margin: 0 auto;
		background-color: white;
		padding-bottom: 6%;
	}

	.header {
		/*width: 75%;*/
		margin: 0 auto;
		padding-top: 25px;
	}

	.head {
		display: inline-block;
	}



	.header-logo h2 {
		font-family: alata-regular;
		font-size: 35px;
		color: white;
		font-weight: 400;
	}

	.header-logo h2 span {
		color: #24e09b;
	}


	.mainmenu {
		padding-top: 25px;
	}

	.header-navbar ul {
		padding: 0;
		margin: 0;
	}

	.header-navbar ul li {
		list-style: none;
		display: inline-block;
		margin-left: 0;
		position: relative;
		color: white;
	}

	.header-navbar ul li i {
		margin-left: 5px;
		font-size: 12px;
	}

	.header-navbar ul li a {
		padding-right: 28px;
		color: #fff;
		font-size: 17px;
		font-family: "alata-regular";
		text-decoration: none;
	}

	.header-navbar ul li a:hover {
		color: #24e09b;
	}



	.header-navbar ul li:hover ul {
		display: block;
	}

	.header-navbar ul li:hover ul a {
		color: white;
	}

	.header-navbar ul ul {
		display: none;
		position: absolute;
	}

	.header-navbar ul ul li {
		font-size: 10px;
		margin-left: -10px;
		color: white;
		background-color: #24E09B;
		width: 220px;
		padding: 10px 0px;
	}

	.header-navbar ul ul li a {
		font-size: 15px;
		margin-left: 10px;
	}

	.header-navbar ul ul li:hover {
		color: white;
		background-color: black;
	}

	
	.active {
		color: red!important;
	}


	.header-btn {
		display: inline-block;
		color: #fff;
		background-color: #24e09b;
		border: none;
		padding: 15px 40px;
		border-radius: 4px;
		/*margin-left: 25px;*/
	}

	.header-btn:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	.header-btn i {
		font-size: 14px;
		padding-left: 10px;
	}
	/*.navbar-wrapper {
		text-align: right;
	}*/
	.header-navbar {
		display: inline-block;
		margin-top: 10px;
	}



	/*#########################*/

	.banner {
		padding-top: 7%;
	}

	.banner-contant h4 {
		color: white;
		font-size: 65px;
		font-family: alata-regular;
		font-weight: 400;
		margin-bottom: 30px;
	}

	.banner-contant p {
		font-family: poppins-medium;
		font-size: 15px;
		color: white;
		font-weight: 400;
		line-height: 35px;
	}

	.banner-contant button {
		padding: 20px 35px;
		color: white;
		background-color: #24e09b;
		border: none;
		border-radius: 3px;
		font-size: 14px;
		font-family: poppins-regular;
		margin-top: 15px;
	}

	.banner-contant button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	.banner-contant h6 {
		font-family: poppins-regular;
		color: white;
		font-size: 14px;
		font-weight: 400;
		margin-top: 20px;
	}

	.banner-img {
		margin-right: -165px;
	}

					/*.banner-end*/


	/*########################################################*/

	/*Exclusive Features start*/

	.exclusive-text {
		text-align: center;
	}

	.exclusive-text h2 {
		padding-top: 45px;
		font-size: 45px;
	}

	.exclusive-text p {
		font-size: 18px;
		line-height: 30px;
		color: #7A7F83;
		font-family: poppins-light;
	}


	/*Exclusive Features end*/

	/*####################################################################*/

	/*features-area-start*/

	.features {
		text-align: center;
	}

	.features-box {
		margin: 4px;
		border: 1px solid #EFF2FB;
	}

	.features-box h2 {
		font-family: alata-regular;
		font-size: 30px;
	}

	.features-box p {
		font-size: 14px;
		line-height: 30px;
		font-family: poppins-regular;
		color: #7A7F83;
	}

	.features-box:hover {
		background-color: #3747D4;
		color: white;
		box-shadow: 0px 0px 20px 0px #6c757d;
		border: none;
	}

	.features-box:hover p {
		color: white;
	}
	/*features-area-end*/

	/*####################################################################*/

	/*features-post-start*/

	.post {
		padding-top: 20px;
	}

	.text {
		padding-right: 15%;
	}

	.text h2 {
		font-family: alata-regular;
		font-size: 40px;
	}

	.text h4 {
		font-size: 13px;
		font-family: poppins-regular;
		line-height: 30px;
		color: #878C8F;
	}

	.text em {
		font-size: 14px;
		font-family: Myriad Pro Regular;
	}

	.text h6 {
		font-family: poppins-regular;
		font-size: 13px;
		color: #878C8F;
		line-height: 30px;
	}

	.text button {
		background-color: #24E09B;
		color: white;
		font-family: poppins-semibold;
		font-size: 14px;
		border: none;
	}

	.text button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	.text em {
		color: #3633CB;
		line-height: 30px;
		font-weight: 600;
	}

	/*features-post-end*/

	/*##########################################################*/

	/*testimonial-area-start*/

	.testimonial-post h4 {
		font-size: 16px;
	}

	.testimonial-post {
		color: white;
		padding-top: 6%;
		padding-bottom: 6%;
	}

	.testimonial-area {
		background-image: url(../images/footer-bg.png);
	}

	.testimonial-text h2 {
		font-family: alata-regular;
		font-size: 50px;
		color: white;
		padding-bottom: 10%;
	}

	.testimonial-price-text {
		border: 1px solid #697793;
		border-radius: 5px;
		margin: 10px;
		text-align: center;
	}

	.testimonial-price-text:hover {
		border: 1px solid #24E09B;
		transition: 0.5s;
		animation: shake 0.5s;
	}

	.testimonial-btn button {
		background-color: #24E09B;
		color: white;
		font-family: poppins-semibold;
		font-size: 17px;
		border: none;
		padding: 20px 50px 20px 50px;
	}

	.testimonial-btn button i {
		padding-left: 20px;
	}

	.testimonial-btn button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	/*testimonial-area-end*/




	/*.border {
		border: 1px solid #24E09B;
	}*/


	/*############################################3*/

				/*team-member*/

	.team-member-text {
		text-align: center;
		padding: 85px 0px 85px 0px;
	}

	.team-member-text h2 {
		font-size: 40px;
		font-family: alata-regular;
	}

	.team-member-text p {
		font-size: 18px;
		line-height: 30px;
		font-family: poppins-light;
		color: #7A7F83;
	}

	.team-member {
		text-align: center;
	}

	.team-member img {
		border-radius: 50%;
	}

	.team1 img {
		border: 10px solid #C2E5F9;
	}

	.team2 img {
		border:10px solid #3747D4;
	}

	.team3 img {
		border: 10px solid #FFB400;
	}

	.team4 img {
		border: 10px solid #07DDD6;
	}

	/*.text-center h2 {
		font-family: alata-regular;
		font-size: 40px;
	}*/

	.team1 h6 {
		color: #00A2FF;
	}

	.team2 h6 {
		color: #392DC8;
	}

	.team3 h6 {
		color: #FFB400;
	}

	.team4 h6 {
		color: #07DDD6;
	}


	.box h2 {
		font-size: 23px;
		font-family: alata-regular;
		padding-bottom: 10px;
	}

	.box p {
		font-size: 13px;
		font-family: poppins-regular;

	}
	/*########################*/


	.home-video-link {
		text-align: center;
		border-radius: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("http://sasscokit.demothemesflat.com/wp-content/uploads/2020/09/bg-parallax1.jpg");
		color: white;
		padding-bottom: 60px;
		/*opacity: 0.3;*/
		/*background-color: blue;*/
	}

	.background-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(-107deg, #351EC1 0%, #3A87F2 100%);
		top: 0;
		left: 0;
		opacity: 0.7;
		border-radius: 15px;
	}

	.home-video-link h3 {
		font-family: alata-regular;
		font-size: 40px;
		line-height: 55px;
		padding-top: 80px;
		padding-bottom: 40px;
	}


	.home-video-link a i {
		background-color: #24E09B;
		border-radius: 50%;
		text-align: center;
	}


	/*##############################*/

		/*table-start*/

	.table-bg {
		background-image: url(../images/pricetable-bg-img.png);
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -10%;
		padding-bottom: 3%;
	}

	.table-bgs {
		margin-top: 15%;
		text-align: center;
		padding: 85px 0px 85px 0px;
	}

	.table-bgs h2 {
		font-family: alata-regular;
		font-size: 45px;
	}

	.table-bgs p {
		font-family: poppins-light;
		font-size: 18px;
		color: #7A7F83;
		line-height: 30px;
	}

	.box {
		background-color: white;
	}

	.table-box {
		overflow: hidden;
	}

	.text-btn button {
		font-family: alata-regular;
		font-size: 20px;
		color: #1D5DFF;
		background-color: #DCF9EE;
		border: none;
		border-radius: 25px 0 0 25px;
		padding: 8px 30px;
	}

	.text-btn button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	.table-img {
		padding: 25px;
	}

	.text-btn h4 {
	  font-family: alata-regular;
	  font-size: 30px;
	  margin-left: 23px;
	  margin-top: 20px;
	}

	.table-text p {
		font-family: poppins-regular;
		font-size: 14px;
		margin-bottom: 0;
		text-align: center;
	}

	.table-btn {
	  text-align: center;
	}

	.table-btn button {
	  font-size: 14px;
	  padding: 15px 45px;
	  border: none;
	  font-family: poppins-semibold;
	  background-color: #DCF9EE;
	  border-radius: 5px;
	  color: #102039;
	}


	.table-btn button i {
		margin-left: 15px;
		font-size: 12px;
	}

	.box:hover p {
		color: white;
	}

	.box:hover .text-btn button {
		background-color: orange;
		color: white;
	}

	.table-btn:hover button {
		color: white;
		background-color: #24E09B;
	}

	.box:hover {
		background-image: url(../images/table-bg-hover.png);
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}


		/*table-end*/

		/*#########################################################*/



		/*our-clients-start*/

	.our-clients {
		padding: 85px 0px 85px 0px;
		text-align: center;
	}

	.our-clients h2 {
		font-family: poppins-regular;
		font-size: 40px;
	}

	.our-clients p {
		font-family: poppins-light;
		line-height: 30px;
		font-size: 20px;
		color: #7A7F83;
	}



	/*our-clients-end*/

	/*##############################################################*/

	/*statistick start*/

	.statistick {
		box-shadow: 2px 3px 15px 20px #F9F9FE;
		padding: 55px 0px;
		margin-bottom: 8%;
	}

	.text-1 {
		border-right: 1px solid #E3E6F0;
		padding-right: 90px;
	 	padding-left: 50px;
	}

	.text-2 {
		padding-right: 50px;
	 	padding-left: 90px;
	}

	.st-text {
		padding: 10px 70px 0 0;
	}

	.st-text h6 {
		color: #3747D4;
	}

	.statistick p {
		font-family: poppins-regular;
		font-size: 15px;
		color: #95999C;
		line-height: 38px;
	}

	.st-img img {
		border-radius: 50%;
		border: 4px solid #3747D4;
		padding: 3px;
	}

	.statistick-img {
		overflow: hidden;
	}

	.flt-r {
		border-radius: 25px 0px 0px 25px;
		background-color: #3866E3;
		border: none;
		color: white;
		margin-right: 1px;
	}

	.flt-l {
		border-radius: 0px 25px 25px 0px;
		background-color: #24E09B;
		border: none;
		color: white;
	}


				/*statistick end*/

	/*############################################3*/

			/*promossion-start*/

	.promossion {
		background-image: url(../images/promossion-bg.png);
		overflow: hidden;
		color: white;
		background-size: cover;
	}

	.promo-left {
		padding-right: 13%;
		padding-left: 0;
		margin-top: 85px;
		padding-bottom: 11%;
	}

	.promo-left h2 {
		font-family: alata-regular;
		font-size: 50px;
	}

	.promo-left p {
		font-family: poppins-regular;
		font-size: 14px;
		line-height: 32px;
		padding-top: 33px;
	}

	.promo-left button {
		background-color: #24E09B;
		color: white;
		border: none;
		font-family: poppins-semibold;
		font-size: 15px;
		margin-top: 30px;
	}

	.promo-left button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}


	.promo-right h6 {
		border: 1px solid #6A79E0;
		font-family: alata-regular;
		font-size: 15px;
		padding: 17px 33px;

	}

	.promo-right h6:hover {
		border: 1px solid #24E09B;
	}

	.promo-right h6 p {
		font-family: poppins-regular;
		font-size: 14px;
		line-height: 28px;
		padding-top: 15px;
	}

	.promo-right span {
		float: right;
	}

	.promo-right {
		margin-top: 95px;
	}

			/*promosition-end*/
	/*################################################*/

			/*logo start*/


	.home-logos img {
		margin-right: 57px;
	}

	.home-team-text p {
		margin-top: 16%;
		font-family: alata-regular;
		font-size: 22px;
		margin-bottom: 5%;
	  text-align: center;
	}

	.home-team-text p span {
		color: #24E09B;
	}

			/*logo end*/



	/*#################################################*/


	/*lates-news-start*/

	.lates-news {
		padding: 85px 0px 85px 0px;
		text-align: center;
	}

	.lates-news h2 {
		font-family: poppins-regular;
		font-size: 40px;
	}

	.lates-news p {
		font-family: poppins-light;
		font-size: 20px;
		line-height: 30px;
		color: #7A7F83;
	}
	/*lates-news-end*/


	/*############################################*/

			/*team-logo-start*/

	.logo-text {
		padding: 25px;
	}


	.logo-text h4 {
		font-size: 21px;
		font-family: alata-regular;
		line-height: 35px;
	}

	.logo-text h6 {
		font-size: 15px;
		color: #3741d1;
		margin-top: 20px;
	}

	.logo-inner {
		border: 1px solid #ebeffa;
		border-radius: 5px;
	}

	.logo-inner:hover {
		border: none;
		box-shadow: 0px 0px 23px 14px #f7f8fe;
	}

			/*team-logo-end*/


	/*#########################################3*/



				/*block-post start*/

	.block-post {
		background-image: url(../images/footer-bg.png);
		background-size: cover;
		/*overflow: hidden;*/
	}

	.blockpost-margin-left{
		margin-left: 72px;
	}

	.block-post a {
		display: block;
		color: white;
		line-height: 45px;
		font-family: myriad pro;
		font-size: 14px;
	}

	.block-post a:hover {
		color: #24e09b;
		text-decoration: none;
		padding-left: 5px;
		transition: 1s;
	}

	.block-post span {
		color: #24e09b;
	}

	.bp-banner {
		border-bottom: 1px solid #556bdf;
		padding: 75px 0;
	}

	.block-post h2 {
		font-family: alata-regular;
		font-size: 35px;
	}

	.bp-text h2{
		font-family: alata-regular;
		font-size: 45px;
		line-height: 70px;
	}

	.bp-button button {
		background-color: #24e09b;
		font-family: poppins-semibold;
		font-size: 17px;
		border: none;
		border-radius: 5px;
	}

	.bp-button button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	.bp-button i {
		padding-left: 20px;
	}

	.bp-containt {
		padding: 75px 0;
	}

	.bp-containt a i {
		padding-right: 5px;
	}

	.bp-containt h2 {
		padding-bottom: 20px;
	}


	/*block-post-end*/

	/*#####################################3*/

	/*footer-start*/

	.footer {
		background-color: #102039;
		padding-top: 20px;
	}


	.footer span {
		color: #1fad81;
	}

	.footer a {
		text-decoration: none;
		font-family: poppins-regular;
		font-size: 14px;
	}
	.footer i {
		border: 2px solid #6c7786;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		text-align: center;
		line-height: 40px;
		margin-left: 12px;
	}

	.footer i:hover {
		background-color: #24e09b;
		transition: 1s;
	}

	.footer ul li  {
		list-style: none;
		display: inline-block;
	}

	/*footer-end*/

	/*home-end*/

	/*################################*/




	   



















											

			/*start-about*/



	.header-about-area {
		background-image: url(../images/about-img/04_Saasco_About.jpg);
		background-size: cover;
	}

	.about-us {
		margin-top: 9%;
		padding-bottom: 9%;
	}

	.heading {
		text-align: center;
	}

	.heading h1 {
		font-size: 60px;
		font-family: alata-regular;
		color: white;
		padding-bottom: 10px;
	}


	.about-br ul {
		padding: 0;
		margin: 0;
	}

	.about-br ul li {
		list-style: none;
		display: inline-block;
		font-size: 15px;
		color: white;
		padding: 5px;
	}

	.about-br ul li a {
		color: white;
		font-family: poppins-regular;
		text-decoration: none;
	}

	.about-br ul li i {
		font-size: 8px;
	}


			/*end about*/

	/*######################################################*/


	/*features-area start*/

	.container-bg {
		margin-top: 6%;
		margin-bottom: 6%;
	}

	.features-img {
		padding-left: 4% !important;
	}

	.features-img img {
		max-width: 85% !important;
	}

	.features-text {
		padding-right: 4% !important;
	}

	.features-text h6 {
		font-family: poppins-regular;
		font-size: 18px;
		color: #13e275;

	}

	.features-text h1 {
		font-family: alata-regular;
		font-size: 45px;
	}

	.features-text p {
		font-family: poppins-regular;
		color: #878c8f;
		font-size: 16px;
		line-height: 30px;
	}

	.features-text em {
		color: #102039;
		font-family: poppins-mediumitalic;
		font-size: 18px;

	}


	.underlined {
		position: relative;
		display: inline-block;
		color: #363ace;
	}
	.underlined::after {
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 6px;
		height: 6px;
		background-color: #c1f3d9;
		z-index: -1;
	}

	.features-text button {
		padding: 20px 50px;
		font-family: alata-regular;
		background-color: #24e09b;
		color: white;
		font-size: 17px;
		border-radius: 5px;
		border: none;
	}

	.features-text button:hover {
		background-color: rgb(55 71 212);
		transition: 1s;
	}

	.features-text button i {
		margin-left: 5px;
		font-size: 13px;
	}
	/*features-area end*/

	/*###################################################################*/


	/*price start*/

	.price-area {
		border: 1px solid #f9f9f9;
		box-shadow: 0px 1px 3px -1px;
		border: none;
		padding: 55px 0;
		position: relative;
		background-color: white;
		text-align: center;
	}


	/*.text-center p {
		font-family: poppins-regular;
		color: #7A7F83;
		font-size: 16px;
	}

	.text-center h2 {
		font-family: alata-regular;
	}
*/

	.dt-circel {
		padding-top: 30px;
		font-size: 10px;
	}


	.blue {
		color: #4a63fe;
	}

	.yellow {
		color: #ff9739;
	}

	.green {
		color: #13e275;
	}

	.sky {
		color: #05cdff;
	}


	/*price end*/


	 /*#############################*/


	/*start-video-link*/

	.about-video-link {
		text-align: center;
		background-image: url("http://sasscokit.demothemesflat.com/wp-content/uploads/2020/09/bg-parallax1.jpg");
		margin-top: -90px;
		padding-bottom: 60px;
	}

	.about-video-link h3 {
		margin-top: 30%;
		color: white;
		font-size: 40px;
		font-family: 'alata-regular';
		margin-bottom: 40px;
	}

	.bg-yellow {
		background-color: #ff9739;
	}

	
	/*end-video-link*/

 /*######################################################*/

	.about-team-member {
		margin-bottom: 7%;
		text-align: center;
	}

	.about-team-member h2 {
		margin-top: 12%;
		font-size: 40px;
		font-family: alata-regular;
	}

	.about-team-member p {
		font-family: poppins-light;
		font-size: 20px;
		color: #7A7F83;
		line-height: 35px;
	}


	.about-team-member img {
		border-radius: 50%;
	}


	.about-team-member ul {
		margin-top: 25px;
		padding: 0;
	}

	.about-team-member ul li {
		text-decoration: none;
		display: inline-block;
		line-height: 40px;
		width: 40px;
		height: 40px;
		border: 1px solid #d3dfe8;
		text-align: center;
		border-radius: 50%;
		margin: 5px;
	}

	.about-team-member h4 {
		font-size: 25px;
		font-family: alata-regular;
		color: #102039;
		margin-bottom: 20px;
	}

	.about-team-member h6 {
		font-family: poppins-regular;
		font-size: 14px;
		color: #bbbbbb;
	}

	.team-member-bg {
		padding: 25px;
		margin: 10px;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 0px 5px -2px;
	}

	.team-member-bg:hover {
		background-color: #3747D4;
		transition: 1s;
	}

	.team-member-bg:hover h4 {
		color: white;
	}

	.team-member-bg:hover h6 {
		color: #f9b608;
	}

	.team-member-bg:hover li {
		background-color: white;
	}

	.team-member-bg ul li:hover {
		background-color: #0e5ce4;
		color: white;
		transition: 1s;
	}


	/*################################################*/

	.coustomer {
		background-image: url(../images/about-img/testimonial-bg.jpg);
	}

	.coustomer h2 {
		text-align: center;
		font-family: alata-regular;
		font-size: 40px;
	}

	.coustomer-love-us p {
		text-align: center;
		font-size: 18px;
		font-family: poppins-light;
		color: gray;
		line-height: 30px;
	}

	 .coustomer-bg {
		background-color: white;
		border: none;
		border-radius: 5px;
		margin: 10px;
		padding: 0px 50px 0px 50px!important;
	 }

	.colon-logo {
	  	margin-top: -21px;
	 	padding-bottom: 30px;
	}

	.coustomer-bg p {
		font-family: poppins-regular;
		font-size: 14px;
		color: #8f9496;
		line-height: 30px;
		padding-bottom: 16px;
	}

	.bottom-border {
		position: relative;
		color: blue;
	}


	.bottom-border::after {
		content: "";
		position: absolute;
		height: 1px;
		bottom: 0px;
		width: 100%;
		left: 0;
		background-color: #3745d3;
	}

	.logo-text2 h4 {
		font-family: alata-regular;
		font-size: 23px;
	}

	.logo-text2 h6 {
		font-family: poppins-regular;
		font-size: 13px;
		color: gray;
		margin-top: 20px;
	}

	/*.logo-text2 h6 span {
		color: blue;
	}
*/
	.logo-name {
		padding-bottom: 40px;
	}

	.logo-name img  {
		border-radius: 50%;
		width: 80px;
	}

	.slider {
		padding-top: 35px;
	}

	.slider ul li {
		list-style: none;
		display: inline-block;
	}

	.slider ul li i {
		color: #c1ccdb;
		text-align: center;
		margin: 5px;
	}

	.slider ul li i:hover {
		color: blue;
	}


	/*.active i,.slider ul li i:hover {###################################################################################################################################
		color: blue !important;
	}
*/
	/*#########################################################*/

	.about-logos img {
		margin-right: 57px;
	}

	.about-team-text2 p {
		padding-top: 15%;
		font-family: alata-regular;
		font-size: 25px;
		margin-bottom: 40px;
	}
	
	.about-team-text2 span {
		color: blue;
	}

	/*##########################################################*/


	.bp-nav-ber ul {
		margin: 0;
		padding: 0;
		margin-top: 35px;
		font-size: 15px;
	}
	.bp-nav-ber ul li {
		list-style: none;
		display: inline-block;
		line-height: 40px;
		width: 40px;
		height: 40px;
		border: 1px solid #d3dfe8;
		text-align: center;
		border-radius: 50%;
		margin: 5px;
	}

	.bp-nav-ber ul li:hover {
		background-color: #24e09b;
		transition: 1s;
	}


	/*####################################*/




















	/*#####################################################################################################################################*/

				/*blog start*/



	.blog-img-purple:hover {
		border: 1px solid #b22dd4;
	}

	.blog-img-orange:hover {
		border: 1px solid orange;
	}

	.blog-img-blue:hover {
		border: 1px solid blue;
	}

	.blog-img-sky:hover {
		border: 1px solid #24dfbf;
	}

	.blog .header-navbar ul li a {
		padding-right: 45px;
	}

	/*######################################################*/



	.number-icon ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.number-icon ul li {
		list-style: none;
		display: inline-block;
		border: 1px solid #d6d7e2;
		height: 40px!important;
		width: 40px;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		margin: 5px;
		font-size: 12px;
		font-family: poppins-semibold;
	}

	.number-icon li:hover {
		background-color: #0e52d3;
		color: white;
		transition: 1s;
	}


	.number-icon a {
		color: black;
	}

	.number-icon li:hover a {
		color: white;
	}

/*#############################################################*/

	.blog-logos {
		margin-bottom: 10%;
	}

	.blog-logos img {
		margin-right: 57px;
	}

	.blog-team-text2 p {
		padding-top: 15%;
		font-family: alata-regular;
		font-size: 25px;
		margin-bottom: 40px;
	}
	
	.blog-team-text2 span {
		color: blue;
	}

	/*blog-end*/

/*##################################################################*/

















/*contact-start*/


.elementer-row {
	margin-bottom: 10%;
}

.contact {
	text-align: center;
	margin: 15px;
	padding: 35px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px -6px #7A7F83;
	border: none;

}

.contact:hover {
	border: 1px solid #3747D4;
}
.contact i {
	font-size: 60px;
	color: blue;
	margin-bottom: 20px;
}

.contact h4 {
	font-size: 28px;
	font-family: alata-regular;
	color: #102039;
	margin-bottom: 20px;
}

.contact h3 {
	font-family: poppins-light;
	color: #7A7F83;
	font-size: 25px;
}


/*########################################*/

.elementer {
	margin-top: 8%;
	margin-bottom: 8%;
}
.elementer-link h4 {
    font-size: 47px;
    font-family: alata-regular;
    padding-right: 100px;

}

.elementer-map img {
	height: 720px;
}
.elementer-link input {
	/*overflow: visible;*/
    padding: 15px 85px 15px 25px;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 25px;
    border: 1px solid #B0AED0;
    font-family: poppins-regular;
    font-size: 14px;
}

.e-mail {
	margin-right: 0px;
}

.massege {
	padding: 20px 404px 200px 25px!important
}

.elementer-link button {
	color: white;
	background-image: linear-gradient(-107deg, #351EC1 0%, #3A87F2 100%);
	border-radius: 5px;
    padding: 20px 45px;
    border: none;
    margin-top: 40px;
    font-family: 'alata-regular';
}


.elementer-link button i {
	margin-left: 10px;
    font-size: 15px;
}

/*############################################################################################################################*/















/*home02-start*/

.home02 {
	background-image: url("http://sasscokit.demothemesflat.com/wp-content/uploads/2020/09/banner-home-02.png");
	padding-bottom: 20%;
	margin-bottom: 25px;
}

.home02-logo span {
	color: #FFB400!important;
}

.home02-btn {
	padding: 12px 12px;
    width: 125px;
    border-radius: 10px;
    color: white;
    border: none;
}

.home02-btn i {
	margin-left: 10px;
}

.orange {
	background-color: #fd7e14;
}

.log-in-bg-blue {
	background-color: #3747D4;
	margin-right: 20px;
}

.home-dropdown ul li a {
	padding-right: 25px;
}

.home-dropdown ul ul li {
	font-size: 10px;
	margin-left: -10px;
	color: white;
	background-color: black;
	width: 220px;
	padding: 10px 0px;
}

.home-dropdown ul ul li a {
	font-size: 15px;
	margin-left: 10px;
}

.home-dropdown ul ul li:hover {
	color: white;
	background-color: #fd7e14;
}

.banner-contant span {
	text-decoration: underline;
}
.home02-banner-contant p {
	font-size: 18px!important;
}

.home02-banner-contant button {
	background: linear-gradient(279deg, rgba(251,216,21,1) 0%, rgba(254,151,8,1) 55%);
}

.home02-banner-contant button i {
	padding-left: 5px;
}

.home02-banner-contant a {
	padding-left: 30px;
	text-decoration: underline;
	color: white;
}


.home02-banner-contant a:hover {
	color: #FFB400;
	text-decoration: underline;
}

.home02-amazing-application {
	padding-bottom: 70px;
}

.home02-features-application img {
	padding-bottom: 20px;
    width: 60px;
    height: 75px;
}

.features-application {
	display: inline-block;
    padding: 30px 20px;
    text-align: center;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #f2f4fb;
    border-radius: 5px;
	box-shadow: 0px 0px 10px 2px #f2f4fb;
}

.application-open {
	padding: 70px 35px 30px 35px;
    background-image: url(../images/home02/features-application.png);
    background-size: contain;
    background-size: cover;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.application-open p {
    color: white!important;
}

.home02-amazing-application h2 {
	font-size: 43px;
	padding-bottom: 35px;
}

.home02-amazing-application p {
	font-size: 15px;
	line-height: 28px;
	font-family: poppins-regular;
	color: #7A7F83;
}

.home02-amazing-application button {
	padding: 20px 45px;
	border-radius: 5px;
	color: white;
	background-color: #0e5be3;
	border: none;
	margin-top: 20px;
}

.home02-amazing-application i {
	margin-left: 10px;
}


.home02-features-application {
	padding-left: 20%;
}


.proper-guide {
	padding-left: 18%;
}

.download-app {
	background-image: url(../images/home02/Download-app-bg-img.jpg);
	background-repeat: round;
}

.download-app h2 {
	color: white;
}

.download-app h2 {
	font-size: 50px;
	margin-bottom: 40px;
}

.download-app p {
	font-size: 19px;
	margin-bottom: 45px;
	color: white;
}

.download-app-right {
	padding-left: 18%;
}

.download-app-container {
	padding-top: 6%;
}

.download-app button {
	padding: 18px 50px;
	background-color: #2b69db;
	border-radius: 5px;
	border: none;
	color: white;
}

.download-app button:hover {
	background-color: #f3a20c;
	transition: 0.5s;
}

.download-app button i {
	margin-right: 10px;
}

.sasscoapps h2 {
	padding-top: 12%;
    padding-bottom: 20px;
    font-size: 40px;
}

.sasscoapps p {
	font-size: 22px;
	line-height: 35px;
	color: #95999c;
	padding-bottom: 7%;
}

.sasscoapps span {
	color: orange;
}

.sassco-icon {
	padding-bottom: 8%;
}

.sassco-icon p {
	font-size: 22px;
}

.super-clean {
	padding-left: 8%;
}

.super-clean h2 {
	font-size: 50px;
	padding-bottom: 25px;
}

.super-clean p {
	font-size: 17px;
    color: #afb2b5;
    line-height: 30px;
}

.super-clean button {
	padding: 15px 50px;
    background-color: #0f61ee;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 26px;
}

.super-clean button i {
	margin-left: 20px;
    font-size: 12px;
}

.super-clean-img img {
	border: 10px solid #DFDFDF7D;
	border-radius: 50px;
}


.home02-pricing-table {
	background-image: url(../images/home02/pricing-table-bg2.jpg);
	color: white;
	padding-bottom: 6%;
	background-repeat: round;
}

.home02-price-box {
	border: 2px solid #3575e8;
	border-radius: 6px;
}

.home02-price-box-active {
    border-radius: 6px;
    background-image: url(../images/home02/pricing-table-bg.png);
    color: black;
    margin-top: -15px;
    padding-top: 15px;
    margin-bottom: -15px;
    padding-bottom: 15px;
    background-size: cover;
}

.home02-price-box-active .home02-price-text {
	background-color: white;
}

.home02-price-box-active button {
	padding: 20px 35px;
    border: none;
    border-radius: 5px;
	background: linear-gradient(104deg, rgba(251,216,21,1) 41%, rgba(254,151,8,1) 61%);    color: white;
	margin-bottom: 20%;
}

.home02-price-box-active button:hover {
	background: linear-gradient(104deg, rgba(254,151,8,1) 32%, rgba(251,216,21,1) 61%);
}

.home02-price-text {
	border: 2px solid #3575e8;
    border-radius: 15px;
    margin-top: 12%;
    margin-bottom: 15%;
    padding: 50px;
}

.home02-price-text h4 {
	font-size: 35px;
	padding-bottom: 15px;
}

.home02-price-text h2 {
	padding-bottom: 15px;
	font-size: 40px;
}

.home02-pricing-plan h2 {
	font-size: 50px;
    margin-top: 12%;
    margin-bottom: 3%;
}

.home02-pricing-plan p {
	font-size: 22px;
    margin-bottom: 12%;
}

.home02-price-box button {
	padding: 20px 35px;
    border: none;
    border-radius: 5px;
	background: linear-gradient(104deg, rgba(251,216,21,1) 41%, rgba(254,151,8,1) 61%);    color: white;
	margin-bottom: 20%;
}

.home02-price-box button i {
	margin-left: 10px;
}

.home02-price-box button:hover {
	background: linear-gradient(104deg, rgba(254,151,8,1) 32%, rgba(251,216,21,1) 61%);
}

.home02-happy-user-icon img {
}

.home02-user-img {
	border: 1px solid blue;
    border-radius: 50%;
    padding: 20px;
    height: 100px;
    width: 100px;
    margin-left: 45px;
}

.home02-happy-user-box {
	margin-top: 7%;
}

.home02-happy-user-box:hover {
 	box-shadow: 0px 0px 10px 10px #f2f4fb;
 	color: #fa9304;
 	border-radius: 10px;
}

.home02-happy-user-box:hover home02-user-img {
 	border: 1px solid #fa9304;
}

.home02-happy-user-box h2 {
	font-size: 45px;
	margin-bottom: 20px;
}

.home02-happy-user-box p {
	margin-bottom: 30px;
}



.home02-happy-user-icon-text p {
 	font-size: 23px;
    font-weight: lighter;
    color: #102039;
    font-family: poppins-light;
    line-height: 45px;
 }


.happy-user-icon-right {
 	background-image: url(../images/home02/happy-user.png);
 	height: 511px;
 	margin-bottom: 15px;
 }


.home02-happy-user-icon-img {
	padding-left: 83px;
}

.home02-happy-user-icon-img img {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    margin-top: 5px;
}

.elimentor-image-left {
 	background: linear-gradient(90deg, rgba(57,29,253,1) 12%, rgba(14,188,246,1) 41%, rgba(5,241,233,1) 75%);
    width: 95px;
    height: 95px;
    text-align: center;
    border-radius: 50%;
}

.elimentor-image-left img {
    border-radius: 50%;
    padding: 5px;
    width: 85px;
    margin-top: 5px;
    background-color: white;
}

.elimentor-left-bottom h6 {
	font-family: poppins-medium;
	margin-top: 15px;
	color: #392DC8;
}

.home02-happy-user-icon-text ul li {
	list-style: none;
    text-align: center;
    margin-top: 25px;
}

.home02-happy-user-icon-text ul li i {
	color: blue;
	font-size: 13px;
	width: 25px;
	height: 25px;
}

.home02-happy-user-icon-text ul li i:hover {
	font-size: 20px;
}

.elimentor-image-bg1 {
	background: linear-gradient(90deg, rgba(253,223,29,1) 50%, rgba(241,5,27,1) 86%);
    width: 90px;
    border-radius: 50%;
    text-align: center;
    height: 90px;
}

.elimentor-image-bg2 {
	background: linear-gradient(90deg, rgba(57,29,253,1) 12%, rgba(14,188,246,1) 41%, rgba(5,241,233,1) 75%);
    width: 90px;
    border-radius: 50%;
    text-align: center;
    height: 90px;
}

.happy-user-team1 {
	padding-top: 60px;
    margin-left: -16px;
}
.happy-user-team2 {
	padding-left: 190px;
    margin-top: -190px;
}
.happy-user-team3 {
	padding-left: 90%;
    margin-top: 70px;
}
.happy-user-team4 {
	padding-left: 40%;
}
.happy-user-team5 {
	padding-left: 30px;
    padding-top: 100px;
}
.happy-user-team6{
	padding-left: 73%;
    margin-top: -90px;
}



.frequently-aria {
	background-color: #f8f9fb;
	margin-top: 8%;
	z-index: 9;
	position: relative;
}

.frequently-head h2 {
	font-size: 45px;
	padding-top: 55px;
	padding-bottom: 25px;
}

.frequently-head p {
	font-size: 20px;
	color: gray;
	line-height: 35px;
	padding-bottom: 60px;
}

.frequently-body h2 {
	padding-bottom: 20px;
	font-size: 28px;
	padding-top: 15px;
}

.frequently-body p {
	font-size: 17px;
    line-height: 30px;
    color: gray;
}

.frequently-botton button {
	border: none;
    padding: 17px 45px;
    border-radius: 5px;
	background: linear-gradient(90deg, rgba(253,223,29,1) 50%, rgba(241,5,27,1) 86%);
    color: white;
}

.frequently-botton button:hover {
	background: linear-gradient(90deg, rgba(57,29,253,1) 12%, rgba(14,188,246,1) 41%, rgba(5,241,233,1) 75%);
	transition: 0.5s;
}

.footer-aria {
	background-image: url(../images/home02/Download-app-bg-img.jpg);
	color: white;
	padding-bottom: 7%;
	padding-top: 37%;
    margin-top: -30%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.footer-aria h3 {
	font-size: 30px;
	padding-bottom: 30px;
}


.footer-aria h2 span {
	color: #f99505;
}

.footer-aria h2 {
	font-size: 35px;
	padding-bottom: 30px;
}

.footer-aria p {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 15px;
}

.footer-aria h4 {
	font-size: 19px;
    padding-bottom: 17px;
    line-height: 35px;
}

.footer-aria h4:hover {
	color: #f99505;
}

.footer-aria h6 {
	font-size: 13px;
	color: #b3c3e4;
}

.footer-aria .link {
	padding: 20px 190px 20px 30px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    margin-bottom: 40px;
}

.footer-aria .link a {
	color: white;
	text-decoration: none;
}

.footer-aria button {
	padding: 20px 70px 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f69b08;
    color: white;
}

.footer-aria button i {
	margin-left: 15px;
}


.footer-aria ul {
	padding: 0;
	padding-top: 50px;
}

.footer-aria ul li {
	display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border: 3px solid white;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-aria ul li i {
	/*margin-top: 10px;*/
}

.footer-aria ul li:hover {
	background-color: #f69b08;
}

.copyright-aria {
	background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 12px;
}
/*home02-end*/

/*################################################################*/



/*#####################################################*/

/*HOME03-START*/



.home03 {
	padding-bottom: 80px;
}

.home03 ul li {
	display: inline-block;
}

.home03 ul li a:hover {
	text-decoration: none;
}

.home03-navber ul li a {
	color: black;
	margin-right: 45px;
	padding: 0;
}

.home03-navber ul ul li {
	text-align: left;
}

.home03 .logo {
	background-color: #4a63fe;
	color: white;
}

.home03 .logo span {
	color: #ff9739;
}

.home03 .link {
	background-color: #ff9739;
	padding-top: 17px;
}

.home03 .link a {
	color: white;
}

.home03 .link a i {
	padding-left: 15px;
}

.home03 .header-aria {
	border-bottom: 1px solid #e7eaf5;
}

/*######################################################################*/

.creative-aria {
	background-image: url("http://sasscokit.demothemesflat.com/wp-content/uploads/2020/09/bg-home-03.png");
	background-repeat: no-repeat;
	background-position: top center;
}

.creative-aria h2 {
	font-size: 55px;
}

.creative-aria p {
	font-size: 18px;
    font-family: poppins-regular;
    padding: 20px 20%;
    line-height: 30px;
    color: gray;
}

.creative-aria button {
	padding: 20px 50px;
    border-radius: 5px;
    background-color: #4a63fe;
    color: white;
    border: none;
}

.creative-aria button i {
	padding-left: 15px;
}

.what-we-do {
	background-color: #F3F8FF;
	margin-top: -60px;
	padding-bottom: 25%;
}

.what-we-do .features-box {
	background-color: white;
	border: none;
}

.what-we-do .features-box:hover {
	background-color: blue;
}

.what-we-do .active {
	background-color: blue;
	color: white!important;
}

.what-we-do .active p {
	color: white;
}

.our-winning {
	background-image: url("http://sasscokit.demothemesflat.com/wp-content/uploads/2020/09/bg-winning-01.png");
}
/*HOME03-END*/







				/*company-testimonial-start*/


.company-testimonial {
	background-color: #F3F8FF;
	margin-bottom: -8%;
}

.company-testimonial h2 {
	font-size: 45px;
	font-family: alata-regular;
	text-align: center;
	margin-bottom: 30px;
}

.company-testimonial coustomer-love-us p {
	font-size: 18px;
	font-family: poppins-regular;
	color: #7A7F83;
	line-height: 35px;
	margin-top: 45px;
	margin-bottom: 10%;
}


/*#############################################################*/


.testimonial-logo-name {
    padding: 50px 50px 0px 50px;
    line-height: 35px;
    font-family: 'poppins-regular';
    color: #6c757d;
}

.testimonial-logo-name p {
	margin-bottom: 30px;
}

.testimonial-logo-name img {
    padding: 3px;
    border: 3px solid purple;
}

/*###########################################################*/

.testimonial-slider {
	padding-top: 0;
	padding-bottom: 80px;
}

/*##################################################################*/



				/*our-service*/



.features-box-our-service {
	padding-top: 50px;
	text-align: center;
    padding-bottom: 50px;
}

.features-box-our-service button {
	padding: 20px 45px;
    border-radius: 5px;
    color: white;
    background-color: #24E09B;
    border: none;
}

.features-box-our-service button i {
	margin-left: 15px;
}
.number-icon li:hover {
	background-color: #0e52d3;
	color: white;
}

.number-icon a {
	color: black;
}

.number-icon li:hover a {
	color: white;
}






.navbar-light .navbar-nav .nav-link {
	color: #fff;
}